/*
Loading custom fonts
Body font: Space Grotesk
Headline font: Verona Serial
*/
@font-face {
	font-family: 'Space Grotesk';
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	src: local('SpaceGrotesk Regular'),
		/*Look for the file locally first*/ url(/fonts/SpaceGrotesk-Regular.woff2) format('woff2');
}
@font-face {
	font-family: 'Verona Serial';
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	src: local('Verona Serial Regular'),
		/*Look for the file locally first*/ url(/fonts/Verona-Serial-Regular.woff2) format('woff2');
}

/*
Global base styles
*/
/* Minimal browser reset*/
* {
	padding: 0;
	margin: 0;
}
:root {
	/* Definition of variables for use in project */
	--color-bg: #121212;
	--color-white: #fff9f2;
	--color-accent: red;
	--side-padding: 1.5rem;
	--max-width: 1920px;

	/* Basic styles */
	color: var(--color-white);
	font-family: 'Space Grotesk', sans-serif;
	font-size: clamp(16px, 5vw, 23px);
	line-height: 1.3;
	/* scroll-behavior: smooth; */
}

header,
section,
footer {
	padding: 0 var(--side-padding);
	max-width: var(--max-width);
	margin-left: auto;
	margin-right: auto;
}
::selection {
	background: #ff5c00;
}
small,
.small,
figcaption {
	font-size: 0.875rem;
}
button {
	color: var(--color-white);
	font-family: 'Space Grotesk', sans-serif;
	font-size: 1rem;
	border: none;
	cursor: pointer;
	position: relative;
	background: none;
	margin-top: 0;
}
h1,
a.contact {
	font-family: 'Verona Serial', serif;
	font-weight: 400;
	line-height: 0.9;
	font-size: 3.25rem;
}
a.contact {
	margin-bottom: 1rem;
	font-size: 2.2rem;
}
h2 {
	font-family: 'Space Grotesk';
	font-size: 0.875rem;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin-bottom: 1rem;
}
h3 {
	font-size: 1rem;
}
a {
	text-decoration: none;
	color: var(--color-white);
}
#svelte {
	position: relative;
	background: var(--color-bg);
	overflow: hidden;
}

/* 
Dynamic blurred background styles 
All elements in _layout.svelte
*/
/* Setting all main elements on page to be higher than the gradients  */
header,
main,
footer {
	position: relative;
	z-index: 1;
}
/* Left gradient */
.blur {
	--size: 25rem;
	position: fixed;
	z-index: 0;
	will-change: transform;
	transform-style: preserve-3d;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: var(--size);
	background-image: linear-gradient(-30deg, #ff5c00 42%, #aa48ff 51%, #0038ff 93%);
	filter: blur(calc(var(--size) / 5));
	pointer-events: none;
	will-change: transform;
	transform-style: preserve-3d;
	top: calc(var(--size) * -0.5);
	left: auto;
	bottom: auto;
	right: calc(var(--size) * -0.5);
	width: var(--size);
	height: var(--size);
}
/* Top right gradient */
.second {
	--size: 20rem;
	background: #0038ff;
	background-image: linear-gradient(60deg, #ff5c00 42%, #aa48ff 51%, #0038ff 73%);
	bottom: calc(var(--size) / 2);
	right: calc(var(--size) / -1.2);
	top: auto;
	left: auto;
	width: var(--size);
	height: var(--size);
	filter: blur(calc(var(--size) / 4));
}
/* Bottom right gradient */
.third {
	--size: 35rem;
	background: #ff5c00;
	background-image: linear-gradient(80deg, #ff5c00 22%, #aa48ff 41%, #0038ff 93%);
	top: calc(var(--size) / 1.4);
	left: calc(var(--size) / -1.2);
	bottom: auto;
	right: auto;
	width: var(--size);
	height: var(--size);
	filter: blur(calc(var(--size) / 5));
}
/* Noise layer */
.noise {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: url('/static/images/grain.jpg');
	background-size: 10rem;
	mix-blend-mode: overlay;
}
/* Utility classes */
.desktop-only {
	display: none;
}
.hidden {
	display: none;
}

/* 
Respnsive design / mobile first
larger media queries overwrite base styles
mostly setting variables and spacing
*/
@media (min-width: 480px) {
	:root {
		--side-padding: 3rem;
	}
}

@media (min-width: 769px) {
	:root {
		font-size: clamp(16px, 1.5vw, 28px);
		--side-padding: 4rem;
	}
	header,
	section,
	footer {
		padding: 0 var(--side-padding);
	}
	h1 {
		line-height: 0.9;
		font-size: 5rem;
		max-width: 37rem;
		margin-bottom: 2rem;
	}
	.mobile-only {
		display: none;
	}
	.desktop-only {
		display: block;
	}

	/* 
		Background blur effect 
		.blur is template for .second and .third 
	*/
	.blur {
		--size: 25rem;
		top: calc(var(--size) / 3);
		right: auto;
		bottom: auto;
		left: calc(var(--size) / -1);
		width: var(--size);
		height: var(--size);
		will-change: transform;
	}
	.second {
		--size: 25rem;
		top: calc(var(--size) / -1.2);
		right: calc(var(--size) / 2);
		bottom: auto;
		left: auto;
		width: var(--size);
		height: var(--size);
		will-change: transform;
	}
	.third {
		--size: 18rem;
		top: calc(var(--size) / -4);
		right: calc(var(--size) / 2);
		bottom: auto;
		left: auto;
		width: var(--size);
		height: var(--size);
		will-change: transform;
	}
}
@media (min-width: 1920px) {
	:root {
		font-size: 29px;
		--side-padding: 4rem;
	}
}
